# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# unpublished feature set
voice_engine/

# Not to be commited for a reason
config/cenv
config/app-config.yml
assets/
voice_system/

# vscode
.vscode

#clangd
.cache
libs/
build/

.DS_Store
node_modules
.venv
