.inputGroup {
  position: relative;
  padding-top: 15px;
}

.label {
  position: absolute;
  top: 25px;
  left: 0;
  color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: 15px;
}

.inputField {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 0;
  color: white;
  font-size: 16px;
  outline: none;
}

.active .label {
  top: -5px;
  font-size: 11px;
  color: #32cd32;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.active .inputField {
  border-bottom: 1px solid #32cd32;
}

// User panel
.userPanel {
    width: 37rem;
    background: #161616;
    margin: 12px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.userPanel img {
    border: 3px solid gray;
    border-radius: 100%;
}

.userPanel span {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    border-radius: 7px;
    height: 3rem;
}

.userRibbon {
    display: flex;
    background-color: pink;
    height: 2.3rem;
    justify-content: right;
    gap: 5px;
    border-radius: 5px;
}

.userRibbon button {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    color: white;
    background: transparent;
    border-bottom: 2px solid purple;
    gap: 7px;
}

.userQC {
    padding: 10px;
}

.bioPanel {
    padding: 10px;
    border-radius: 10px;
    resize: none;
    outline: none;
    caret-color: transparent;
    background: black;
}

.panelUserStatus {
    transition: 1s ease-in-out;
    align-items: center;
    display: flex;
    background: transparent;
    border: 1px solid gray;
    gap: 6px;
    padding: 5px 13px;
    width: fit-content;
    border-radius: 10px;
}

.panelUserStatus span {
    transition: 1s ease-in-out;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.userButtons {
    display: flex;
    gap: 12px;
}

.userButtons button {
    border: 2px solid blue;
    background: transparent;
    padding: 7px 20px;
    border-radius: 10px;
}