@use 'settings';

:root {
    @extend %accessibility_settings;
}

.main {
    display: flex;
}

.settingBar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 13rem;
    padding: 12px 5px 12px 5px;
    gap: 7px;
}

.settingBar button {
    height: 2.3rem;
    border-radius: 7px;
    border: none;
    text-align: left;
    text-indent: 12px;
    background: transparent;
    font-weight: 530;
    font-size: var(--fontSize);
    color: gray;
    align-items: center;
    display: flex;
    padding-left: 5px;
}

.settingBar button:hover {
    background: rgb(59, 59, 59);
    color: white;
}

.settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 1rem 3rem;
}

.settings input[type=text] {
    height: fit-content;
    // width: fit-content;
    outline: none;
    border-radius: 6px;
    background: transparent;
    border: 0;
}

.userBanner {
    width: 100%;
    height: 13rem;
    border-radius: 16px;
    position: relative;
}

.profileInformation {
    display: flex;
    position: absolute;
    bottom: -37%;
    left: 3%;
    gap: 10px;
    align-items: center;
}

.profileInformationContent {
    display: grid;
    grid-template-rows: 70%;
}

.userInfo {
    width: 100%;
    display: grid;
    // background: rgb(35, 35, 35);
    border-radius: 20px;
    margin: 8rem 0px;
    gap: 12px;
}

.profilePicture {
    border-radius: 100%;
    border: 5px solid black;
    object-fit: cover;
}

.barPanel {
    display: flex;
    width: 20rem;
    height: 3rem;
    border-radius: 12px;
    align-items: center;
    background: rgb(27, 27, 27);
    padding: 5px;
}

.barPanel button {
    border: none;
    font-size: 20px;
    font-weight: 600;
    width: 5rem;
    height: 2.4rem;
    background: transparent;
    border-radius: 10px;
}

.barPanel button:hover {
    background: rgb(61, 61, 61);
}

.userNames {
    display: flex;
    align-items: center;
    gap: 7px;
}

.subInfo {
    display: grid;
    gap: 20px;
}

.logoutButton {
    align-items: center;
    display: flex;
    border: 0.4px solid red !important;
    color: red !important;
    transition: 0.5s ease-in-out;
}

.logoutButton:hover {
    color: white !important;
    background: red !important;
}

.bioPanel {
    resize: none;
    width: 35rem;
    height: 14rem;
    border-radius: 12px;
    padding: 0.5rem;
    background: #141414;
    outline: none;
}

.spCustomInput {
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid gray;
    width: 16.5rem;
    padding: 8px;
    border-radius: 12px;
    min-width: 16.5rem;
}

.spCustomInput p {
    width: 150px;
}

.spCustomInput select {
    background: transparent;
    width: 11rem;
    border: 0;
    font-size: 17px;
    outline: none;
}

.appearanceIcon {
    height: 10px;
    width: 10px;
    display: flex;
    border-radius: 12px;
}

.online {
    background: lime;
}

.offline {
    background: gray;
}

.idle {
    background: #fb0;
}